# Virtual Environment
Ad/
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Alembic / Local DB
*.sqlite3

# VS Code
.vscode/

# Logs
*.log

# Build
dist/
build/

# OS Files
.DS_Store
Thumbs.db

# ML Data
backend/ml/data/
backend/ml/data/
backend/ml/data/processed/

# ML Models
backend/ml/saved_models/
*.pkl
*.joblib

# ML Reports
backend/ml/reports/

# Jupyter
.ipynb_checkpoints/

# Cache
.pytest_cache/
.mypy_cache/